/* Coolvetica - для заголовков */
@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica.woff2') format('woff2'),
       url('/fonts/Coolvetica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Navigo - для основного текста */
@font-face {
  font-family: 'Navigo';
  src: url('/fonts/Navigo-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Navigo';
  src: url('/fonts/Navigo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Navigo';
  src: url('/fonts/Navigo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Navigo';
  src: url('/fonts/Navigo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Navigo';
  src: url('/fonts/Navigo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Navigo';
  src: url('/fonts/Navigo-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
